<p-card class="busket-card"
    [style]="{width: '100%', minWidth: '320px', maxWidth: '420px', margin: '0 auto', background: '#fcf7f5'}">
    <ng-template pTemplate="header">
        <div class="busket-header">
            <span class="busket-step">שלב <b>1</b> בחירת חבילות כרטיסים</span>
        </div>
    </ng-template>
    @if((basket.purchasePackages?.length || 0) === 0 ){
    <div class="busket-content">
        <div class="busket-title">העגלה ריקה</div>
        <div class="busket-subtitle">בחר אחת מהחבילות בעמוד</div>
        <img src="assets/cart-icon.png" alt="עגלה ריקה" class="busket-img" />
    </div>
    <ng-template pTemplate="footer">
        <div class="busket-footer">
            <button pButton type="button" label="לשלב הבא" class="p-button-outlined busket-next-btn"
                [disabled]="true"></button>
            <span class="busket-footer-text">יש לבחור חבילת כרטיסים</span>
            <i class="pi pi-shopping-cart busket-footer-icon"></i>
        </div>
    </ng-template>}
    @else{
    @if(basket.purchasePackages?.length ){
    <h3 class="section-title">חבילות שנבחרו:</h3>
    @for (p of basket.purchasePackages; track p.packageId) {
    <div class="busket-package-item">
        <div class="busket-package-name"><b>{{p.package?.name}}</b></div>
        <div class="busket-package-qty"> כמות: {{p.quantity}}</div>
        <div class="busket-package-price">{{(p.package?.price||0)*(p.quantity ||0)}}</div>
    </div>
    }
    }
    @if(basket.tickets && basket.tickets.length>0){
    <h3 class="section-title">מתנות שנבחרו:</h3>
    @for (t of groupTickets; track t.giftId) {
    <div class="busket-package-item">
        <div class="busket-package-name"><b>{{t.gift?.name}}</b></div>

        <button (click)="addGift(t.giftId!)">+</button>
        <div class="busket-package-qty"> כמות: {{t.totalTickets}}</div>
        <button (click)="deleteGift(t.id!)">-</button>

    </div>
    }
    }
    <div class="status-bar">
  <div class="status-text">
    <b>{{ remainingTickets }} / {{ totalPurchasedTickets }}</b>
    <span>נותרו לך למימוש</span>
  </div>
 
  <div class="progress-container">
    <div class="progress-fill"
         [style.width.%]="totalPurchasedTickets > 0 ? (usedTickets / totalPurchasedTickets) * 100 : 0">
    </div>
  </div>
</div>}
</p-card>