<p>register works!</p>
<form [formGroup]="profileForm" (ngSubmit)="register()">
    <input type="text"  placeholder="ת.ז." formControlName = Id>
    <input type="text" placeholder="שם מלא" formControlName=FullName>
    <input type ="text" placeholder="שם משתמש" formControlName=UserName>
    <input type = "password" placeholder="סיסמא" formControlName = Password>
    <input type="email" placeholder="מייל" formControlName= Email>
    <input type="text" placeholder="טלפון" formControlName = PhoneNumber>
    <button  type="submit">הרשם</button>
</form>

