<nz-header
    style="background: white; padding: 0 50px; box-shadow: 0 2px 8px rgba(0,0,0,0.06); position: sticky; top: 0; z-index: 1000;">
    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%; height: 64px;">

        <div style="flex:1; display: flex; justify-content: center; direction: ltr;">
            <ul nz-menu nzMode="horizontal" style="border: none; background: transparent; line-height: 64px;">
                <li nz-menu-item *ngFor="let item of fuilterNavItems">
                    <a [routerLink]="item.routerLink" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" style="padding: 0 15px; font-weight: 500;">
                        {{ item.label }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="auth-section" style="display: flex; align-items: center; gap: 15px; margin-left: -1176px;">

            <ng-container *ngIf="authSrv.isLoggedIn()">
                <button nz-button nzType="text" (click)="toggleBasket()"
                    style="font-size: 20px; display: flex; align-items: center;">
                    <nz-icon nzType="shopping" nzTheme="outline" /> <span nz-icon nzType="shopping">🏬</span> </button>

                <button nz-button nzType="primary" nzDanger (click)="authSrv.loguot()">
                    התנתק
                </button>
            </ng-container>

            <ng-container *ngIf="!authSrv.isLoggedIn()">
                <button nz-button nzType="primary" [routerLink]="['login']">התחבר</button>
                <button nz-button nzType="primary" [routerLink]="['register']">הרשם</button>
            </ng-container>
        </div>

    </div>
</nz-header>

<main style="padding-top: 20px;">
    <router-outlet />
</main>

<div (click)="isBasketVisible=true" style="cursor: pointer;">
<nz-badge [nzCount]="0">
    <i class="bi bi-cart3" style="font-size: 28px;"></i>
</nz-badge>
</div>
<app-busket [(visible)]="isBasketVisible"></app-busket>
