<div class="login-container">
  <div class="login-card">
    <h1 class="login-header">היי,טוב לראות אותך!</h1>
    
    <form [formGroup]="profileForm" (ngSubmit)="login()" class="login-form">
      

      <div class="form-group">
        <input 
          type="email" 
          class="form-input" 
          placeholder="שם משתמש"
          formControlName="Username" />
      </div>

      <div class="form-group">
        <input 
          type="password" 
          class="form-input" 
          placeholder="סיסמא"
          formControlName="Password" />
      </div>

      <button type="submit" class="submit-btn">התחבר </button>
      @if(showUserNotFound()){
        <div class="error-message">
            המשתמש לא קיים במערכת
            <a routerLink="/register" class="register-link">להרשמה</a>
        </div>
      }
    </form>
  </div>
</div>
