<p>donor works!</p>
    <input type="text" placeholder="id" #id  />
    <input type="text" placeholder="name" #name  />
    <input type="text" placeholder="phonNumber" #phonNumber  />
    <input type="email" placeholder="email" #email  />
    <input type="text" placeholder="logoUrl" #logoUrl  />
    <button (click)="add(id.value,name.value,phonNumber.value,email.value,logoUrl.value)">Add</button>

    @if(flagUpdate){
         <input type="text" placeholder="id" #id  />
        <input type="text" placeholder="name" #name  />
        <input type="text" placeholder="phonNumber" #phonNumber  />
        <input type="email" placeholder="email" #email  />
        <input type="text" placeholder="logoUrl" #logoUrl  />
        <button (click)="update(id.value,name.value,phonNumber.value,email.value,logoUrl.value)">update</button>

    }
    @for(d of list$ | async ; track d){
    <div>
        <span>{{d.name}}</span>
         <button (click) = "delete(d.id!)">מחק</button>
       <button (click) = "updateOpen(d)">עדכן</button>
    </div>
    }
