<p>donor works!</p>
<div>
  <input #nameInput type="text" placeholder="Name" />
  <input #emailInput type="text" placeholder="Email" />
  <input #giftIdInput type="number" placeholder="Gift ID" />
  <button type="button" (click)="filter(nameInput.value,emailInput.value, giftIdInput.value ? +giftIdInput.value : undefined )">Filter</button>
  <button type="button" (click)="refreshList()">Clear Filters</button>
</div>

 @for(d of list$ | async ; track d){
    <div>
        <span>{{d.name}}</span>
         <button (click) = "delete(d.id!)">מחק</button>
       <button (click) = "openEdit(d)">עדכן</button>
    </div>
    }

    <input [(ngModel)] = "draftDonor.id" placeholder="id" />
    <input [(ngModel)] = "draftDonor.name"  placeholder="name" #name  />
    <input [(ngModel)] = "draftDonor.phoneNumber"  placeholder="phonNumber" #phonNumber  />
    <input [(ngModel)] = "draftDonor.email"  placeholder="email" #email  />
    <input [(ngModel)] = "draftDonor.logoUrl"  placeholder="logoUrl" #logoUrl  />
    <button type="button" (click)="save()">{{flagUpdate ? 'update' :'Add'}}</button>

    <button type="button" (click)="resetForm()" *ngIf="flagUpdate">בטל</button>
   